---
layout: default
title: Ting-Yu Cha's website
featured_image: /images/hurricanemichael.jpeg
---
<style>
div.wrap_header{
	        position: relative;
	        margin: auto;
	        padding: auto;
					height: 0;
	        max-width: 1000px;

	        @include mq(tabletp) {
	                padding: 0;
	                max-width: 680px;
	        }

	        @include mq(tabletl) {
	                max-width: 900px;
	        }

	        @include mq(laptop) {
	                max-width: 1100px;
	        }
}


</style>

<section class="hero">
{% include socials.html %}
	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"> </div>
	</div>

	<div class="wrap_header">

		<!--h1 style="text-align:right">Hurricane Michael (2018)</h1-->
		<!--p style="text-align:right">Hurricane Michael (2018) </p-->

	</div>

</section>

<section class="listing">

	<div class="wrap">

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" href="tingyu_cv.html" style="background-image: url({{ '/images/picture/profile2.png' | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="tingyu_cv.html">{{ 'About Me' }}</a></h2>
					<!--h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ 'About Me' }}</a></h2-->
					<p class="post__subtitle">{{ 'Research Interests' }}</p>
					<p class="post__description" style="text-align:justify">{{ 'I am a Ph.D. candidate at Colorado State University working with Dr. Michael M. Bell, researching the mesoscale structure, evolution, and precipitation of tropical cyclones with ground-based and airborne radar data and numerical simulations. In my spare time, I enjoy hiking, snowboarding, cooking and traveling. You can find more info about me here.' }}</p>
				</div>
			</div>
		</article>



		<article class="post">

			<div class="content">
				<div class="content" style="background-color:white">
					<h2 class="post__title">Recent News</h2>
					<p><b>August 2020:</b> "Polygonal eyewall asymmetries during the rapid intensification of Hurricane Michael (2018)" has been published in <a href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2020GL087919" target="_blank">Geophysical Research Letters. </a><p>
					<p><b>June 2020:</b> Awarded <a href="https://www.atmos.colostate.edu/2020/06/ting-yu-cha-awarded-taiwan-ministry-of-education-graduate-fellowship/" target="_blank">2020 Taiwan Ministry of Education graduate fellowship. </a><p>
					<p><b>September 2019:</b> Presented work on "Polygonal eyewall asymmetries during the rapid intensification of Hurricane Michael (2018)" at the AMS 39th International Conference on Radar Meteorology in Nara, Japan. <p>
				  <p><b>September 2019:</b> Passed my prelim!😊<p>
					<p><b>August 2018:</b> Continued Ph.D. at CSU with Dr. Michael M. Bell.<p>
					<p><b>July 2018:</b> Obtained M.S. degree in Atmospheric Science at Colorado State University.<p>
					<p><b>August 2016:</b> Started M.S. at Colorado State University with Dr. Michael M. Bell. <p>
				</div>
			</div>

		</article>



	</div>



</section>






<!--section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description" style="text-align:justify">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section-->
